.workout-form .input-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.workout-form {
  margin-left: 20%;
  margin-right: 20%;
}

.workout-form label {
  font-size: 1.5em;
}

.workout-form input {
  width: 60%;
  border: 1px solid black;
  height: 30px;
  border-radius: 4px;
  font-size: 1.2em;
  padding: 4px;
}

.workout-form textarea {
  width: 60%;
  border: 1px solid;
  border-radius: 4px;
  font-size: 1.3em;
  padding: 4px;
}